@import "tailwindcss";

@theme {
    --color-bradley: #8D1F0E;
}

@font-face {
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/Lora.ttf") format("ttf");
}